@model WorldParkingVol1.Models.tipovehiculo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/MasterTarifas_Layout1.cshtml";
}

<h2>Eliminar</h2>


<div>
 
    <hr />
    <h3>Esta Seguro de Querer Eliminar Esta Tarifa?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taifaperiodica.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taifaperiodica.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarifasminuto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifasminuto.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Vista de Tarifas ", "Index")
        </div>
    }
</div>
