@model WorldParkingVol1.Models.personas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Master_Layout1.cshtml";
}

<h2>Eliminar</h2>
<div>
    <hr />
    <h3>Esta Seguro de Eliminar Este Registro?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.DescripcionRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.DescripcionRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo.Sexo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo.Sexo1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
