@model WorldParkingVol1.Models.vehiculos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Master_Vehiculos_Layout1.cshtml";
}

<h2>Detalles</h2>

<div>

    <hr />
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colorvehiculo.ColorVehiculo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colorvehiculo.ColorVehiculo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marcasvehiculo.MarcasVehiculo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marcasvehiculo.MarcasVehiculo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipovehiculo1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipovehiculo1.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.idVehiculos }) |
    @Html.ActionLink("Regresar a Vehiculos", "Index")
</p>
